<h1>欢迎来到 welcome 控制的 index action: Welcome#index</h1>
<p>你好，这里是中文，Find me in app/views/welcome/index.html.erb</p>
<%= link_to "我的文章列表", controller: "posts" %> | <%= link_to '添加文章', new_post_path %> | <%= link_to 'My Blog', posts_path %>